
@import url("sidebar.css");

html {
  font-family: 'Source Han Sans, PingFang SC, Microsoft YaHei, WenQuanYi Micro Hei, serif';
}

a, abbr, acronym, address, applet, article, aside, audio, big, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: sans-serif;
  font-size: 100%;
}

.root-container {
  position: relative;
}

.body {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow-x: hidden;
}

.header-container {
  position: relative;
}

.header-content {
  position: relative;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding-top: 54px; */
}

.header-content {
  height: 380px;
  padding-bottom: 85px;
}

.body-container.float {
  margin-top: -85px;
}

.body-container {
  position: relative;
}

.content-container {
  max-width: 1200px;
  width: 92vw;
  min-height: 170px;
  margin: 0 auto;
}

.article-content {
  width: 860px;
  max-width: 100%;
  padding: 20px;
  margin: 20px auto auto;
  border-radius: 15px;
  overflow: hidden;
  background-color: var(--theme-bg-color);
  box-shadow: 10px 10px 20px var(--theme-bg-shadow), -10px -10px 20px var(--theme-bg-high);
}

.card-container.card-articles .card-item article:hover {
  transform: translateY(-5px);
  filter: grayscale(0);
  box-shadow: 0 2px 16px rgba(0, 0, 0, .5);
}

.card-container {
  margin: 0 auto;
}

.card-container.card-articles .card-list {
  display: flex;
  flex-wrap: wrap;
}

.card-container.card-articles .card-item {
  display: flex;
  flex: 1 1 33.333333333333336%;
  border-radius: 30px;
}

.card-container.card-articles .card-item.large {
  flex: 1 1 66.66666666666667%;
  border-radius: 30px;
}

.card-container.card-articles .card-item.img .card-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* max-height: 200px; */
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-container.card-articles .card-item:nth-child(n) article {
  color: #fff;
  background-color: #e77842;
  background-image: linear-gradient(45deg, #e77842, #f7c068);
}

.card-container.card-articles .card-item article {
  position: relative;
  z-index: 0;
  flex: 1 1 100%;
  margin: 16px;
  padding: 40px 38px 45px;
  /* min-width: 350px; */
  border-radius: 24px;
  overflow: hidden;
  word-break: break-all;
  transition: all .2s ease;
  filter: grayscale(.7);
}

.card-container.card-articles .card-item article .card-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-height: 200px;
  z-index: 1;
}

.card-container.card-articles .article-title {
  font-size: 24px;
}

.card-container.card-articles .article-title {
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 20px;
}

.card-container.card-articles .article-meta {
  margin-bottom: 60px;
}

.article-entry {
  color: var(--theme-text-color);
}

.article-entry p, .article-entry table {
  line-height: 1.6em;
  margin: 1.6em 0;
}

.article-entry blockquote {
  padding-left: 1em;
}

.article-entry blockquote {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1em;
  color: var(--theme-low-color);
  border-left: 3px solid var(--theme-low-color);
}

blockquote, q {
  quotes: none;
}

.post-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  filter: brightness(80%);
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: auto;
}

/* @font-face {
  font-family: 'Source Han Sans, PingFang SC, Microsoft YaHei, WenQuanYi Micro Hei, serif';
  src: url('/fonts/Source Han Sans.ttf');
} */

.page-container {
  margin: 20px auto;
  text-align: center;
  color: var(--theme-low-color);
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.footer-container {
  margin: auto;
  text-align: center;
  color: var(--theme-text-color);
}

/* .article-content {} */

:root {
  --balloon-color: rgba(16, 16, 16, 0.95);
  --balloon-font-size: 12px;
  --balloon-move: 4px;
  --theme-bg-color: #fff;
  --theme-bg-high: #fff;
  --theme-bg-shadow: #d9d9d9;
  --theme-link-color: #f857a6;
  --theme-text-color: #555;
  --theme-low-color: #ddd;
  --theme-stress-color: #161b3d;
}