/* For embeded SVG source. */

:root {
  --typst-text-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --typst-text-color: white;
  }
}

.typst-text use[fill="#000000"] {
  fill: var(--typst-text-color);
}

.typst-group use[fill="#000000"] {
  fill: var(--typst-text-color);
}

.typst-group path[fill="#000000"] {
  fill: var(--typst-text-color);
}

.typst-group path[stroke="#000000"] {
  stroke: var(--typst-text-color);
}

/* For external SVG files. */

@media (prefers-color-scheme: dark) {
  .color-invert {
    filter: invert(1) hue-rotate(180deg);
  }
}