<div class="mdui-appbar mdui-shadow-0 my-appbar"
    style="@import url('appbar.css');position: absolute;width: 100%; padding-top: 0.25%;">
    <div class="mdui-toolbar mdui-text-color-white-text" style="font-weight: bold;">
        <span style="padding-left: 15%;"></span>
        <a href="/" style="font-size: 20px;">pe200012</a>
        <div class="mdui-toolbar-spacer"></div>
        <a href="/">Index</a>
        <a href="/about.html">About</a>
        <span style="padding-right: 15%;"></span>
    </div>
</div>